<div class="content">
    <div class="form-wrapper md-whiteframe-1dp" flex="100">

        <form name="pesquisaForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row" layout-align="end" flex="100">
                <a href="loginUsuario/incluir" class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" >
                    <span translate="ACTION.INCLUDE">Incluir</span>
                    <md-tooltip class="h5">
                        <label translate="HINT.INCLUDE"></label>
                    </md-tooltip>
                </a>
            </div>

            <div layout="column" layout-gt-sm="row" flex>
                <md-input-container class="margin-right-10" flex="20">
                    <label translate="USER_LOGIN.LOGIN">login</label>
                    <input type="text" name="login" ng-model="vm.pesquisa.login" maxlength="15">
                </md-input-container>
                <md-input-container flex="60">
                    <label translate="USER_LOGIN.NAME">nome</label>
                    <input type="text" name="nome" ng-model="vm.pesquisa.nome" maxlength="100">
                </md-input-container>

                <md-input-container flex="20">
                    <md-radio-group class="lightGray-text" ng-model="vm.pesquisa.ativo">
                        Ativo:
                        <md-radio-button value="true" class="md-primary">Sim</md-radio-button>
                        <md-radio-button value="false" class="md-primary"> Não </md-radio-button>
                    </md-radio-group>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row" flex>
                <div layout="row" layout-gt-sm="row" layout-align="end" flex="30">
                    <md-input-container>
                        <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" 
                           ng-click="vm.pesquisar()">
                            <span translate="ACTION.CONSULT">pesquiar</span>
                            <md-tooltip class="h5">
                                <label translate="HINT.SEARCH"></label>
                            </md-tooltip>
                        </a>
                        <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" 
                           ng-click="vm.limparPesquisa()">
                            <span translate="ACTION.CLEAR">Limpar</span>
                            <md-tooltip class="h5">
                                <label translate="HINT.CLEAR"></label>
                            </md-tooltip>
                        </a>
                    </md-input-container>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="content">
    <div class="white-bg md-whiteframe-6dp">
        <md-table-container>
            <table md-table md-progress="gridContent">
                <thead md-head>
                    <tr md-row>
                        <th md-column class="secondary-text">
                            <span class="column-title" translate="USER_LOGIN.LOGIN">login</span>
                        </th>
                        <th md-column class="secondary-text">
                            <span class="column-title" translate="USER_LOGIN.NAME">nome</span>
                        </th>
                        <th md-column class="secondary-text">
                            <span class="column-title" translate="USER_LOGIN.ACTIVE">ativo</span>
                        </th>
                        <th md-column class="secondary-text">
                            <span class="column-title" translate="ACTION">Ação</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="user in vm.gridContent">
                        <td md-cell>{{ user.login}}</td>
                        <td md-cell>{{ user.nome}}</td>
                        <td md-cell>{{ user.ativo}}</td>
                        <td md-cell>
                            <a ui-sref=".editar({id : user.id})" class="md-raised md-ink-ripple md-default-theme" >
                                <i class="icon s26 icon-pencil"></i>
                                <md-tooltip class="h5">
                                    <label translate="HINT.EDIT"></label>
                                </md-tooltip>
                            </a>
                            <a ui-sref=".visualizar({id: user.id})" class="md-raised md-ink-ripple md-default-theme" >
                                <i class="icon s26 icon-magnify"></i>
                                <md-tooltip class="h5">
                                    <label translate="HINT.VIEW"></label>
                                </md-tooltip>
                            </a>
                            <a href="#" class="md-raised md-ink-ripple md-default-theme" ng-click="vm.delete($event)">
                                <i class="icon s26 icon-cancel"></i>
                                <md-tooltip class="h5">
                                    <label translate="HINT.DELETE"></label>
                                </md-tooltip>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="10" md-page="1" 
                             md-total="10" md-on-paginate="onPaginate"
                             md-label="{page: 'Página:', rowsPerPage: 'Resultados por página:', of: 'de'}" 
                             md-options="rowsPage"
                             md-page-select></md-table-pagination>
    </div>

</div>
<!-- / CONTENT -->