<md-dialog aria-label="Adicionar Contato" flex="50"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools md-accent-bg white-text">
        <h2>Contato</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="contatoForm" class="md-inline-form" novalidate>
          <md-input-container class="md-block" md-no-float>
            <label>Nome *</label>
            <input type="text" name="nome" ng-model="form.nome" maxlength="200" ng-required="true" />
            <div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$touched" role="alert">
              <div ng-message="required">
                <span>Informe o nome</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" md-no-float>
            <label>Cargo/Função Gerencial *</label>
            <input type="text" name="descricaoCargo" ng-model="form.descricaoCargo" maxlength="100" ng-required="true" />
            <div ng-messages="contatoForm.descricaoCargo.$error" ng-show="contatoForm.descricaoCargo.$touched" role="alert">
              <div ng-message="required">
                <span>Informe o cargo/função</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" md-no-float>
            <label>Telefone *</label>
            <input type="tel" name="telefone" ng-model="form.telefone" maxlength="15"
            ui-mask="(99) 99999-999?9" ui-mask-placeholder="" placeholder="" ng-required="true" />
            <div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$touched" role="alert">
              <div ng-message="required">
                <span>Informe o telefone</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" md-no-float>
            <label>E-mail *</label>
            <input type="email" name="email" ng-model="form.email" maxlength="200" ng-required="true" />
            <div ng-messages="contatoForm.email.$error" ng-show="contatoForm.email.$touched" role="alert">
              <div ng-message="required">
                <span>Informe o e-mail</span>
              </div>
              <div ng-message="email">
                <span>Informe um e-mail válido</span>
              </div>
            </div>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised white-text md-accent" ng-click="cancel()">
        Voltar
      </md-button>
      <md-button class="md-raised white-text md-primary"
      ng-disabled="formularioInvalido()" ng-click="adicionaContato()">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
