<div class="content">
    <div class="content form-wrapper md-whiteframe-1dp">
        <div class="form-wrapper md-whiteframe-5dp" flex="100" layout="row"  layout-align="center center">
            <md-radio-group class="h3" ng-model="vm.pesquisa.tipoFeriado" layout="row" layout-xs="column">
                Tipo de Feriado: &nbsp;
                <md-radio-button value="nacional" class="md-primary"><span translate="FERIADO.NATIONAL"></span></md-radio-button>
                <md-radio-button value="estadual" class="md-primary"><span translate="FERIADO.STATE"></span></md-radio-button>
                <md-radio-button value="municipal" class="md-primary"><span translate="FERIADO.MUNICIPAL"></span></md-radio-button>
                <md-radio-button value="unidade" class="md-primary"><span translate="FERIADO.SPECIFIC_UNIT"></span></md-radio-button>
            </md-radio-group>

        </div>

    </div>
    <div class="content md-whiteframe-2dp">
        <div class="form-wrapper " flex="100" ng-if=" vm.pesquisa.tipoFeriado === 'nacional'">
            <div ng-include="'app/main/pages/private/feriado/partials/incluir.nacional.html'"></div>
        </div>
        <div class="form-wrapper " flex="100" ng-if=" vm.pesquisa.tipoFeriado === 'estadual'">
            <div ng-include="'app/main/pages/private/feriado/partials/incluir.estadual.html'"></div>
        </div>
        <div class="form-wrapper " flex="100" ng-if=" vm.pesquisa.tipoFeriado === 'municipal'">
            <div ng-include="'app/main/pages/private/feriado/partials/incluir.municipal.html'"></div>
        </div>
        <div class="form-wrapper " flex="100" ng-if=" vm.pesquisa.tipoFeriado === 'unidade'">
            <div ng-include="'app/main/pages/private/feriado/partials/incluir.especificoUnidade.html'"></div>
        </div>
        
    </div>
</div>