<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">Importar Arquivo</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="iaController.importarForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <label>
          <strong>Selecione o arquivo para ser importado</strong>
        </label>
      </div>
      <div flow-init="{ singleFile : true }" flow-name="iaController.form.flow"
      flow-file-added="iaController.validaArquivo($file)">
        <div layout="column" layout-gt-xs="row" flex="100">
          <span class="md-button md-raised md-primary white-text" flow-btn>
            Selecionar arquivo
          </span>
        </div>

        <div ng-if="iaController.form.flow.files.length > 0">
          <md-table-container>
            <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column>
                    <span class="column-title">Arquivo</span>
                  </th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="arquivo in iaController.form.flow.files">
                  <td md-cell>{{ arquivo.name}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
      </div>

      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <md-button class="md-raised white-text md-primary"
        ng-disabled="iaController.form.flow.files.length <= 0" ng-click="iaController.enviarArquivo()">
          Iniciar a importação
        </md-button>
      </div>
    </form>
  </div>
</div>
