<div class="content">
    <div class="form-wrapper md-whiteframe-1dp" flex="100">

        <form name="pesquisaForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row" layout-align="end" flex="100">
                <a ui-sref=".incluir" class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" >
                    <span translate="ACTION.INCLUDE">Incluir</span>
                    <md-tooltip class="h5">
                        <label translate="HINT.INCLUDE"></label>
                    </md-tooltip>
                </a>
            </div>

            <div layout="column" layout-gt-sm="row" flex>
                <md-input-container class="margin-right-10" flex="50">
                    <label translate="EMPLYEE_CLIENT.CLIENT">Cliente</label>
                    <input type="text" name="nome" ng-model="vm.pesquisa.cliente">
                </md-input-container>
                <md-input-container class="margin-right-10" flex="50">
                    <label translate="EMPLYEE_CLIENT.NAME">Nome</label>
                    <input type="text" name="nome" ng-model="vm.pesquisa.nome">
                </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row" flex="100">

                <md-input-container class="margin-right-0" flex="35">
                    <label translate="EMPLYEE_CLIENT.CPF">CPF</label>
                    <input type="text" name="cpf" ng-model="vm.pesquisa.cpf" mask="999.999.999-99">
                </md-input-container>
                <md-input-container class="margin-right-20" flex="35">
                  <label translate="EMPLYEE_CLIENT.LOGIN">login</label>
                  <input type="text" name="login" ng-model="vm.pesquisa.login">
                </md-input-container>

            </div>

          <div layout="column" layout-gt-sm="row" flex>

            <md-input-container flex="20">
              <md-radio-group class="lightGray-text" ng-model="vm.pesquisa.ativo">
                Ativo:
                <md-radio-button value="true" class="md-primary">Sim</md-radio-button>
                <md-radio-button value="false" class="md-primary"> Não </md-radio-button>
              </md-radio-group>
            </md-input-container>
          </div>



          <div layout="row" layout-gt-sm="row" layout-align="end" flex="30">
            <md-input-container>
              <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme"
                 ng-click="vm.pesquisar()">
                <span translate="ACTION.CONSULT">Pesquisar</span>
                <md-tooltip class="h5">
                  <label translate="HINT.SEARCH"></label>
                </md-tooltip>
              </a>
              <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" ng-click="vm.limparPesquisa()">
                <span translate="ACTION.CLEAR">Limpar</span>
                <md-tooltip class="h5">
                  <label translate="HINT.CLEAR"></label>
                </md-tooltip>
              </a>
            </md-input-container>
          </div>


        </form>
    </div>
</div>
<!-- CONTENT -->
<div class="content" ng-if="vm.showGrid">


    <div class="white-bg md-whiteframe-6dp">
        <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
            <thead>
                <tr>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Nome</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">CPF</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Login</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Ação</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funcionario in ::vm.gridContent">
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.cpf }}</td>
                    <td>{{ funcionario.login }}</td>
                    <td>
                        <a ui-sref=".editar({id: funcionario.id})" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-pencil"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.EDIT"></label>
                            </md-tooltip>
                        </a>
                        <a ui-sref=".visualizar({id: funcionario.id})" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-magnify"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.VIEW"></label>
                            </md-tooltip>
                        </a>
                        <a href="#" class="md-raised md-ink-ripple md-default-theme" ng-click="vm.showConfirm(funcionario)">
                            <i class="icon s26 icon-cancel"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.DELETE"></label>
                            </md-tooltip>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- / CONTENT -->
