<div class="form-wrapper md-whiteframe-1dp" flex="100">

    <form name="pesquisaForm" class="md-inline-form" novalidate>

        <div layout="row" layout-gt-sm="row" flex="100">
            <md-input-container flex>
                <label translate="EMPLOYEE.NAME">Nome</label>
                <input type="text" name="nome" ng-model="vm.pesquisaForm.nome">
            </md-input-container>

            <md-input-container flex>
                <label translate="EMPLOYEE.CPF">cpf</label>
                <input type="text" name="cpf" ng-model="vm.pesquisaForm.cpf" mask="999.999.999-99">
            </md-input-container>

            <md-input-container flex>
                <label translate="EMPLOYEE.USER">Login</label>
                <input type="text" name="city" ng-model="vm.pesquisaForm.login">
            </md-input-container>

            <md-input-container >
                <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" >
                    <span translate="ACTION.CONSULT">Consultar</span>
                </a>
                <a href="/cliente/incluir" class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" >
                    <span translate="ACTION.INCLUDE">Incluir</span>
                </a>
            </md-input-container>
        </div>



</div>
</form>

<!-- CONTENT -->
<div class="content">


    <div class="white-bg md-whiteframe-6dp">
        <table class="simple row-border hover">
            <thead>
                <tr>
                    <th class="secondary-text">
                        <span class="column-title" translate="EMPLOYEE.NAME">Nome</span>
                    </th>
                    <th class="secondary-text">
                        <span class="column-title" translate="EMPLOYEE.USER">login</span>
                    </th>
                    <th class="secondary-text">
                        <span class="column-title" translate="EMPLOYEE.CPF">CPF</span>
                    </th>
                    <th class="secondary-text">
                        <span class="column-title" translate="ACTION">Ação</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contratante in ::vm.gridContent">
                    <td>{{ contratante.nome}}</td>
                    <td>{{ contratante.login}}</td>
                    <td>{{ contratante.cpf}}</td>
                    <td>
                        <a href="contratante/{{contratante.id}}" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-pencil"></i>
                        </a>
                        <a href="contratante/view/{{contratante.id}}" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-magnify"></i>
                        </a>
                        <a href="#" class="md-raised md-ink-ripple md-default-theme" ng-click="showConfirm()">
                            <i class="icon s26 icon-cancel"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div layout="row" layout-align="end">

        </div>
    </div>

</div>
<!-- / CONTENT -->



