<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">Detalhamento de Resultados por Cargo</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="dgController.pesquisarForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Tipo</label>
            <md-select name="tipo" ng-model="dgController.filtro.tipo" >
            <md-option ng-repeat="tipo in dgController.listaTipo"
            ng-value="tipo">
              {{ tipo }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Código</label>
            <md-select name="codigo" ng-model="dgController.filtro.codigo" >
            <md-option ng-repeat="codigo in dgController.listaCod"
            ng-value="codigo">
              {{ codigo }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <md-button class="md-raised md-primary" ng-click="dgController.resultado()">
          Resultado
        </md-button>
      </div>
    </form>
  </div>
    <div ng-if="true" flex="80">
      <md-table-container>
        <table md-table md-progress="psController.gridContent">
          <thead md-head md-order="psController.query.order">
            <tr md-row>
              <th md-column><span class="column-title"></span></th>
              <th md-column><span class="column-title">Resultado Sal 1</span></th>
              <th md-column><span class="column-title">Resultado Sal 2</span></th>
              <th md-column><span class="column-title">Resultado Sal 3</span></th>
              <th md-column><span class="column-title">Resultado Sal 4</span></th>
              <th md-column><span class="column-title">Resultado Sal 5</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr>
              <td md-cell>Frequência</td>
              <td md-cell class="textoCentro">{{dgController.retorno.dados.length}}</td>
              <td md-cell class="textoCentro">{{dgController.retorno.dados.length}}</td>
              <td md-cell class="textoCentro">{{dgController.retorno.dados.length}}</td>
              <td md-cell class="textoCentro">{{dgController.retorno.dados.length}}</td>
              <td md-cell class="textoCentro">{{dgController.retorno.dados.length}}</td>
            </tr>
            <tr>
              <td md-cell>Menor Salário</td>
              <td md-cell class="textoDireita">{{dgController.retorno.min.sal1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.min.sal2  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.min.sal3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.min.sal4  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.min.sal5  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>1 Quartil</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.Q1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.Q1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.Q1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.Q1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.Q1  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Média</td>
              <td md-cell class="textoDireita">{{dgController.retorno.sum.sal1 / dgController.retorno.dados.length  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.sum.sal2 / dgController.retorno.dados.length  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.sum.sal3 / dgController.retorno.dados.length  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.sum.sal4 / dgController.retorno.dados.length  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.sum.sal5 / dgController.retorno.dados.length  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Mediana</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.mediana  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.mediana  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.mediana  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.mediana  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.mediana  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>3 Quartil</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.Q3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.Q3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.Q3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.Q3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.Q3  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Maior Salário</td>
              <td md-cell class="textoDireita">{{dgController.retorno.max.sal1  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.max.sal2  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.max.sal3  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.max.sal4  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.max.sal5  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Coef. Variação</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.desvio / (dgController.retorno.sum.sal1 / dgController.retorno.dados.length)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.desvio / (dgController.retorno.sum.sal2 / dgController.retorno.dados.length)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.desvio / (dgController.retorno.sum.sal3 / dgController.retorno.dados.length)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.desvio / (dgController.retorno.sum.sal4 / dgController.retorno.dados.length)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.desvio / (dgController.retorno.sum.sal5 / dgController.retorno.dados.length)  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Desvio Padrão</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.desvio  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.desvio  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.desvio  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.desvio  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.desvio  | currency : '' | formatoNumerico}}</td>
            </tr> 
            <tr>
              <td md-cell>Amplitude</td>
              <td md-cell class="textoDireita">{{(dgController.retorno.max.sal1 - dgController.retorno.min.sal1)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{(dgController.retorno.max.sal2 - dgController.retorno.min.sal2)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{(dgController.retorno.max.sal3 - dgController.retorno.min.sal3)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{(dgController.retorno.max.sal4 - dgController.retorno.min.sal4)  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{(dgController.retorno.max.sal5 - dgController.retorno.min.sal5)  | currency : '' | formatoNumerico}}</td>
            </tr>
            <tr>
              <td md-cell>Moda</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal1.moda  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal2.moda  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal3.moda  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal4.moda  | currency : '' | formatoNumerico}}</td>
              <td md-cell class="textoDireita">{{dgController.retorno.ordenado.sal5.moda  | currency : '' | formatoNumerico}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
</div>
