<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">{{ inController.tituloForm }} INPC</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="inController.ceForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Mes/Ano *</label>
          <input type="month" name="mesAno" ng-model="inController.form.mesAno"
          ng-required="true" />
          <div ng-messages="anController.ceForm.mesAno.$error"
          ng-show="anController.ceForm.mesAno.$touched" role="alert">
            <div ng-message="required">
              Informe o mês/ano do INPC.
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100">
          <label>Indice *</label>
          <textarea name="indice" ng-model="inController.form.indice" ng-required="true"
          maxlength="1000" md-maxlength="8" ui-mask="9.999,99"/>
          <div ng-messages="inController.ceForm.indice.$error"
          ng-show="inController.ceForm.indice.$touched" role="alert">
            <div ng-message="required">
              Informe o indice do INPC.
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <md-button class="md-raised md-accent white-text" ng-click="inController.voltar()">
          Voltar
        </md-button>
        <md-button class="md-raised md-primary" ng-click="inController.salvar()">
          Salvar
        </md-button>
      </div>
    </form>
  </div>
</div>
