<div class="form-title">
  <span class="margin-right-10">Agrupadores</span>
  <i class="icon-plus-circle md-headline pointer" ng-click="psController.openAgrupadorModal($evt, null, null)"></i>
</div>

<div ng-if="psController.form.agrupadores.length > 0">
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>
            <span class="column-title">Nome</span>
          </th>
          <th md-column>
            <span class="column-title">Fórmula</span>
          </th>
          <th md-column >Ações</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="agrupador in psController.form.agrupadores">
          <td md-cell>{{ agrupador.nome }}</td>
          <td md-cell><div ng-repeat="formula in agrupador.formulas">{{ formula.item.nome }}</div></td>

          <td md-cell>
            <a href="#" class="md-raised md-ink-ripple md-default-theme"
            ng-click="psController.openAgrupadorModal($evt, agrupador, $index)">
              <i class="icon s26 icon-pencil"></i>
              <md-tooltip class="h5">Editar</md-tooltip>
            </a>
            <a href="#" class="md-raised md-ink-ripple md-default-theme"
            ng-click="psController.excluirAgrupador($evt, agrupador)">
              <i class="icon s26 icon-cancel"></i>
              <md-tooltip class="h5">Excluir</md-tooltip>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
