<md-dialog aria-label="Esqueci minha senha" flex="50"  ng-cloak>
    <form name="modalForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools md-red-A700-bg white-text">
                <h2>Incluir Fiscal</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >
            <div class="md-dialog-content ">
                <div layout="column" layout-gt-sm="row" flex>
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.SUPERVISOR_UNIT">fiscal</label>
                        <input type="text" name="fiscal" ng-model="modal.fiscalUnidade" maxlength="100" required>
                        <div ng-messages="modalForm.fiscal.$error" ng-show="modalForm.fiscal.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span translate="CLIENT_UNIT.ERROR.SUPERVISOR_UNIT">Digite o Fiscal Unidade</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row" flex>
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.INITIAL_VIGENCIA">vigencia inicial</label>
                        <input type="date" name="vigenciaInicial1" ng-model="modal.vigenciaInicial" required>
                        <div ng-messages="modalForm.vigenciaInicial1.$error" ng-show="modalForm.vigenciaInicial1.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span translate="CLIENT_UNIT.ERROR.INITIAL_VIGENCIA">erro</span>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.FINAL_VIGENCIA">vigencia final</label>
                        <input type="date" name="vigenciaFinal1" ng-model="modal.vigenciaFinal" min="{{modal.vigenciaInicial| date:'yyyy-MM-dd'}}">
                        <div ng-messages="modalForm.vigenciaFinal1.$error" ng-show="modalForm.vigenciaFinal1.$touched"
                             role="alert">
                            <div ng-message="min">
                                <span>A vigencia inicial deve ser maior que a final</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row" flex>
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.SUBSTITUTE_SUPERVISOR_UNIT">fiscal</label>
                        <input type="text" name="fiscalSubstituto" ng-model="modal.fiscalSubstituto" maxlength="100" required>
                        <div ng-messages="modalForm.fiscalSubstituto.$error" ng-show="modalForm.fiscalSubstituto.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span translate="CLIENT_UNIT.ERROR.SUBSTITUTE">Digite o Fiscal Unidade</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row" flex>
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.INITIAL_VIGENCIA">vigencia inicial</label>
                        <input type="date" name="vigenciaInicial2" ng-model="modal.vigenciaInicialSubstituto" required>
                        <div ng-messages="modalForm.vigenciaInicial2.$error" ng-show="modalForm.vigenciaInicial2.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span translate="CLIENT_UNIT.ERROR.INITIAL_VIGENCIA">erro</span>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="margin-right-10" flex="40">
                        <label translate="CLIENT_UNIT.FINAL_VIGENCIA">vigencia final</label>
                        <input type="date" name="vigenciaFinal2" ng-model="modal.vigenciaFinalSubstituto" min="{{modal.vigenciaInicialSubstituto| date:'yyyy-MM-dd'}}">
                        <div ng-messages="modalForm.vigenciaFinal2.$error" ng-show="modalForm.vigenciaFinal2.$touched"
                             role="alert">
                            <div ng-message="min">
                                <span>A vigencia inicial deve ser maior que a final</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>

            <md-button class="md-raised md-orange-A400-bg white-text" 
                       ng-click="incluirFiscal(modal, modalForm)">
                Enviar
            </md-button>
            <md-button  ng-click="editClient.cancelar($event)" class="md-blue-grey-500-bg white-text" ng-click="hide()" style="margin-right:20px;">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
