.pointer {
  cursor: pointer;
}
// Cor da borda do accordion quando expandido
.vAccordion--default v-pane.is-expanded > v-pane-header {
  border-bottom-color: #FF9100;
}
// Cor do título do accordion quando expandido
.vAccordion--default v-pane.is-expanded > v-pane-header .pane-control {
  color: #FF9100;
}
// Estilo do cabeçalho do accordion
.vAccordion--default v-pane-header {
  border-bottom: 2px solid #607D8B;
  font-weight: bold;
  &:hover, &:focus {
    color: rgba(0,0,0,0.87);
    cursor: auto;
  }
}
// Definindo margem superior para primeiro elemento do accordion
.vAccordion--default v-pane:first-child v-pane-header:first-child {
  margin: 2px;
}
// Cor do símbolo de +/-
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
  background-color: #FF9100;
}
// Removendo ícone de accordions que terão controle próprio
.vAccordion--default v-pane-header[inactive]::after, .vAccordion--default v-pane-header[inactive]::before {
  display: none;
}
// Alinha os botões do accordion para a direita
.accordion-buttons {
  text-align: right;
}
// Muda cursor e cor dos botões do accordion
.accordion-buttons i {
  cursor: pointer;
  &:hover {
    color: #FF6D00;
  }
}
// Altera cor e cursor do título do accordion no hover
.pane-control:hover {
  color: #FF6D00;
  cursor: pointer;
}
