<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">Estrutura Organizacional</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="eoController.estruturaForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100">
          <label>Nome *</label>
          <input type="text" name="nome" ng-model="eoController.estrutura.nome" ng-required="true" maxlength="200" />
          <div ng-messages="eoController.estruturaForm.nome.$error"
          ng-show="eoController.estruturaForm.nome.$touched" role="alert">
            <div ng-message="required">
              Informe um nome
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Nível *</label>
          <md-select name="nivel" ng-model="eoController.estrutura.nivel" required>
            <md-option ng-repeat="nivel in eoController.niveis"
            ng-value="nivel.id">
              {{ nivel.nome }}
            </md-option>
          </md-select>
          <div ng-messages="eoController.estruturaForm.nivel.$error"
          ng-show="eoController.estruturaForm.nivel.$touched" role="alert">
            <div ng-message="required">
              Selecione o nível
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <md-button class="md-raised white-text md-primary" ng-click="eoController.salvar()">
          Salvar
        </md-button>
      </div>

     
      <div ng-include="'app/main/pages/private/estrutura-organizacional/partials/accordion-nivel.html'"></div>

    </form>
  </div>
</div>
