<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools md-red-A700-bg white-text">
                <h2 translate="ACTION.DELETE_TITLE">titulo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="" layout="column" layout-align="center" flex="100">
                <div class="form-wrapper md-whiteframe-3dp h3 margin-top10" layout="column" layout-align="center center" flex="40">
                    Dependências do registro selecionado

                    <!--arvore de dados-->
                    <treecontrol class="tree-light"
                                 tree-model="arvore"
                                 options="treeOptions"
                                 on-selection="showSelected(node)"
                                 expanded-nodes="expandedNodes"
                                 selected-node="node1">
                        {{node.numerocentrocusto}} - {{node.nome}}
                    </treecontrol>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Não
            </md-button>
            <md-button ng-click="comfirmarDelete()" style="margin-right:20px;">
                Sim
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>