<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">{{ usController.tituloForm }} Usuário</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="usController.ceForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Login *</label>
          <input type="text" name="login" ng-model="usController.form.login" maxlength="30"
          ng-required="true"/>
          <div ng-messages="usController.ceForm.login.$error"
          ng-show="usController.ceForm.login.$touched" role="alert">
            <div ng-message="required">
              Informe um login
            </div>
          </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
          <label>Senha *</label>
          <input type="password" name="senha" ng-model="usController.form.senha" maxlength="20"
          ng-required="true"/>
          <div ng-messages="usController.ceForm.senha.$error"
          ng-show="usController.ceForm.senha.$touched" role="alert">
            <div ng-message="required">
              Informe uma senha
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Perfil *</label>
          <md-select name="perfil" ng-model="usController.form.perfil" required>
            <md-option ng-repeat="perfil in usController.listaPerfis"
            ng-value="perfil.id">
              {{ perfil.nome }}
            </md-option>
          </md-select>
          <div ng-messages="usController.ceForm.perfil.$error"
          ng-show="usController.ceForm.perfil.$touched" role="alert">
            <div ng-message="required">
              Informe um perfil
            </div>
          </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="50">
          <label>Empresa *</label>
          <md-select name="empresa" ng-model="usController.form.empresa.id" required>
            <md-option ng-repeat="empresa in usController.listaEmpresas"
            ng-value="empresa.id">
              {{ empresa.nome }}
            </md-option>
          </md-select>
          <div ng-messages="usController.ceForm.empresa.$error"
          ng-show="usController.ceForm.empresa.$touched" role="alert">
            <div ng-message="required">
              Informe uma empresa
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100">
          <md-radio-group name="ativo" class="gray-label" ng-model="usController.form.ativo" required>
            <span class="margin-left-10 margin-right-10">Status *</span>
            <md-radio-button value="S" class="md-primary margin-right-10">
              Ativo
            </md-radio-button>
            <md-radio-button value="N" class="md-primary margin-right-10">
              Inativo
            </md-radio-button>
          </md-radio-group>
          <div ng-messages="usController.ceForm.ativo.$error"
          ng-show="usController.ceForm.ativo.$touched" role="alert">
            <div ng-message="required">
              Informe um status
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <md-button class="md-raised md-accent white-text" ng-click="usController.voltar()">
          Voltar
        </md-button>
        <md-button class="md-raised md-primary" ng-click="usController.salvar()">
          Salvar
        </md-button>
      </div>
    </form>
  </div>
</div>
