<div class="content">
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <div class="form-title lightGray-text">Pesquisar Pergunta</div>
  </div>
  <div class="form-wrapper md-whiteframe-1dp" flex="100">
    <form name="prController.pesquisarForm" class="md-inline-form" novalidate>
      <div layout="column" layout-gt-xs="row" flex="100">
        <md-input-container flex="100">
          <label>Enunciado *</label>
          <textarea name="enunciado" ng-model="prController.pesquisa.enunciado"
          ng-required="true" maxlength="500" md-maxlength="500" />
          <div ng-messages="prController.pesquisarForm.enunciado.$error"
          ng-show="prController.pesquisarForm.enunciado.$touched" role="alert">
            <div ng-message="required">
              Informe um enunciado.
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" layout-align="end" flex="100">
        <a ui-sref=".incluir" class="md-button md-raised md-primary">
          Cadastrar nova
        </a>
        <md-button class="md-raised md-primary" ng-click="prController.pesquisar()">
          Pesquisar
        </md-button>
      </div>
    </form>

    <div ng-if="prController.pesquisa.lista.length > 0">
      <md-table-container>
        <table md-table md-progress="prController.gridContent">
          <thead md-head md-order="prController.query.order">
            <tr md-row>
              <th md-column md-order-by="enunciado">
                <span class="column-title">Enunciado</span>
              </th>
              <th md-column>
                <span class="column-title">Ações</span>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="pergunta in prController.pesquisa.lista | orderBy: prController.query.order">
              <td md-cell>{{ pergunta.enunciado }}</td>
              <td md-cell>
                <a ui-sref=".editar({id: pergunta.id})" class="md-raised md-ink-ripple md-default-theme">
                  <i class="icon s26 icon-pencil"></i>
                  <md-tooltip class="h5">Editar</md-tooltip>
                </a>
                <a href="#" class="md-raised md-ink-ripple md-default-theme"
                ng-click="prController.excluir($evt, pergunta)">
                  <i class="icon s26 icon-cancel"></i>
                  <md-tooltip class="h5">Excluir</md-tooltip>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </div>
</div>
