<div class="content">
    <div class="form-wrapper md-whiteframe-1dp" flex="100">

        <form name="pesquisaForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row" layout-align="end" flex="100">
                <a href="/funcionarioCtisSonda/incluir" class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" >
                    <span translate="ACTION.INCLUDE">Incluir</span>
                    <md-tooltip class="h5">
                        <label translate="HINT.INCLUDE"></label>
                    </md-tooltip>
                </a>
            </div>

            <div layout="column" layout-gt-sm="row" flex="100">
                <md-input-container class="margin-right-10" flex="50">
                    <label translate="EMPLOYEE_CTIS.NAME">Nome</label>
                    <input type="text" name="nome" ng-model="pesquisa.nome">
                </md-input-container>
                <md-input-container class="margin-right-10" flex="50">
                    <label translate="EMPLOYEE_CTIS.LOGIN">Login</label>
                    <input type="text" name="login" ng-model="pesquisa.login">
                </md-input-container>
            </div>
            
            <div layout="column" layout-gt-sm="row" flex="100">
                <md-input-container class="margin-right-10" flex="50">
                    <label translate="EMPLOYEE_CTIS.SITUATION">situacai</label>
                    <input type="text" name="situacao" ng-model="pesquisa.situacao">
                </md-input-container>
                <md-input-container class="margin-right-10" flex="25">
                    <label translate="EMPLOYEE_CTIS.REGISTRARION">matricula</label>
                    <input type="text" name="matricula" ng-model="pesquisa.matricula">
                </md-input-container>
                <md-input-container class="margin-right-10" flex="25">
                    <label translate="EMPLOYEE_CTIS.CPF">cpf</label>
                    <input type="text" name="cpf" ng-model="pesquisa.cpf" mask="999.999.999.99">
                </md-input-container>
            </div>
            
            <div layout="column" layout-gt-sm="row" flex="100">
                <div layout="row" layout-gt-sm="row" layout-align="end" flex="30">
                    <md-input-container>
                        <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" 
                           ng-click="pesquisar()">
                            <span translate="ACTION.CONSULT">pesquiar</span>
                            <md-tooltip class="h5">
                                <label translate="HINT.SEARCH"></label>
                            </md-tooltip>
                        </a>
                        <a class="md-orange-A400-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" ng-click="limparPesquisa()">
                            <span translate="ACTION.CLEAR">Limpar</span>
                            <md-tooltip class="h5">
                                <label translate="HINT.CLEAR"></label>
                            </md-tooltip>
                        </a>
                    </md-input-container>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- CONTENT -->
<div class="content">


    <div class="white-bg md-whiteframe-6dp">
        <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions">
            <thead>
                <tr>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Nome</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">CPF</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Login</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Situação</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Matrícula</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Ação</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ctis in ::gridContent">
                    <td>{{ ctis.nome}}</td>
                    <td>{{ ctis.cpf}}</td>
                    <td>{{ ctis.login}}</td>
                    <td>{{ ctis.situacao}}</td>
                    <td>{{ ctis.matricula}}</td>
                    <td>
                        <a href="funcionarioCtisSonda/edit/{{ctis.id}}" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-pencil"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.EDIT"></label>
                            </md-tooltip>
                        </a>
                        <a href="funcionarioCtisSonda/{{ctis.id}}" class="md-raised md-ink-ripple md-default-theme" >
                            <i class="icon s26 icon-magnify"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.VIEW"></label>
                            </md-tooltip>
                        </a>
                        <a href="#" class="md-raised md-ink-ripple md-default-theme" ng-click="showConfirm(ctis)">
                            <i class="icon s26 icon-cancel"></i>
                            <md-tooltip class="h5">
                                <label translate="HINT.DELETE"></label>
                            </md-tooltip>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- / CONTENT -->