<div class="content">
    <div class="form-wrapper md-whiteframe-1dp" flex="100">
        <div layout="row">
            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text" translate="EMPLOYEE_CTIS.TITLES.PERSONAL_INFO">info pessoal</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" flex-gt-xs="50">
                                        <label translate="EMPLOYEE_CTIS.NAME">Nome</label>
                                        <input type="text" name="nome" ng-model="wizard.nome" >
                                    </md-input-container>
                                </div>

                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.CPF">CPF</label>
                                        <input type="text" name="cpf" mask="999.999.999-99" ng-model="wizard.cpf">
                                    </md-input-container>
                                   
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.PIS">PIS</label>
                                        <input type="text" name="pis" ng-model="wizard.pis">
                                    </md-input-container>
                                   
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.REGISTRARION">matricula</label>
                                        <input type="text" name="matricula" ng-model="wizard.matricula">
                                    </md-input-container>
                                    
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.DATE">date</label>
                                        <input type="date" name="dt_nasc" ng-model="wizard.dt_nasc">
                                    </md-input-container>
                                </div>

                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.PERSONAL_MAIL">email</label>
                                        <input type="email" name="emailPessoal" ng-model="wizard.emailPessoal" 
                                               ng-pattern="/^.+@.+\..+$/">
                                        <div ng-messages="wizardStep1.email.$error" ng-show="wizardStep1.email.$touched"
                                             role="alert" multiple>
                                            <div ng-message="pattern">
                                                <span translate="EMPLOYEE_CTIS.ERROR.EMAIL">Digite um E-mail válido</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row" flex>
                                    <md-input-container flex="100" flex-gt-xs="50">
                                        <label translate="EMPLOYEE_CTIS.TEL_FIX">telefone fix</label>
                                        <input type="text" name="tel_residencial" mask="(99) 9?9999-9999" ng-model="wizard.telResidencial">
                                    </md-input-container>

                                    <md-input-container flex="100" flex-gt-xs="50">
                                        <label translate="EMPLOYEE_CTIS.TEL">telefone</label>
                                        <input type="text" name="tel_celular" mask="(99) 9?9999-9999" ng-model="wizard.telCelular">
                                    </md-input-container>
                                </div>
                                <div layout="row" flex="100" layout-xs="column">
                                    <md-input-container class="margin-right-20" flex="10" flex-gt-xs="10">
                                        <label translate="EMPLOYEE_CTIS.UF">UF</label>
                                        <md-select ng-model="wizard.uf">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="margin-right-20" flex="40" flex-gt-xs="20">
                                        <label translate="EMPLOYEE_CTIS.CITY">Cidade</label>
                                        <md-select ng-model="wizard.cidade">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="margin-right-20" flex="40" flex-gt-xs="10">
                                        <label translate="EMPLOYEE_CTIS.CEP">CEP</label>
                                        <input type="text" name="cep" ng-model="wizard.cep" mask="99.999-99"
                                               maxlength="10" >
                                    </md-input-container>
                                    <md-input-container class="margin-right-0" flex="40" flex-gt-xs="60">
                                        <label translate="EMPLOYEE_CTIS.ADDRESS">endereco</label>
                                        <input type="text" name="endereco" ng-model="wizard.endereco">
                                    </md-input-container>
                                </div>

                                <div layout="row" flex="100" layout-xs="row">
                                    <md-input-container class="margin-right-20" flex="30" flex-gt-xs="30">
                                        <label translate="EMPLOYEE_CTIS.INSTRUCTION">grau</label>
                                        <md-select ng-model="wizard.grauInstrucao">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <md-radio-group ng-required="false" class="lightGray-text" ng-model="wizard.sexo">
                                            Sexo 
                                            <md-radio-button value="m" class="md-primary">Masculino</md-radio-button>
                                            <md-radio-button value="s" class="md-primary">Feminino </md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text" translate="EMPLOYEE_CTIS.TITLES.FUNCTIONAL_INFO">info funcionais</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep2" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row">
                                    <md-input-container class="margin-right-20" flex>
                                        <label translate="EMPLOYEE_CTIS.OFFICE_CLT">cargo clt</label>
                                        <md-select ng-model="wizard.cargoClt">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="margin-right-32" flex>
                                        <label translate="EMPLOYEE_CTIS.FUNCTION_CONTRACT">funcao contrato</label>
                                        <md-select ng-model="wizard.funcaoContrato">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="margin-right-0" flex>
                                        <label translate="EMPLOYEE_CTIS.SENIORITY">senioridade</label>
                                        <md-select ng-model="wizard.senioridade">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout="column" layout-gt-xs="row" flex="65" flex-gt-xs="65">
                                    <md-input-container class="margin-right-20" flex>
                                        <label translate="EMPLOYEE_CTIS.SITUATION">situacaop</label>
                                        <md-select ng-model="wizard.situacao">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="margin-right-0" flex>
                                        <label translate="EMPLOYEE_CTIS.COST_CENTER">centro de custo</label>
                                        <md-select ng-model="wizard.centroDeCusto">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout="column" layout-gt-sm="row" flex>
                                    <md-input-container class="margin-right-20" flex flex-gt-xs="15">
                                        <label translate="EMPLOYEE_CTIS.TEL_CORPORATE">telefone</label>
                                        <input type="text" name="tel_corporativo" mask="(99) 9?9999-9999" ng-model="wizard.telCorporativo">
                                    </md-input-container>

                                    <md-input-container flex="100" flex-gt-xs="50">
                                        <label translate="EMPLOYEE_CTIS.CORPORATE_MAIL">email</label>
                                        <input type="text" name="email_corporativo" ng-pattern="/^.+@.+\..+$/" ng-model="wizard.emailCorporativo">
                                    </md-input-container>
                                </div>
                            </form>
                        </md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-orange-A400-bg white-text" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text" translate="EMPLOYEE_CTIS.TITLES.PROFESSIONAL_INFO">Info profissionais</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                            <form name="wizardStep3" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.SALARY">salario</label>
                                        <input type="text" name="salario" ng-model="wizard.salario">
                                    </md-input-container>
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.ANUENIO">anuenio</label>
                                        <input type="text" name="anuenio" ng-model="wizard.anuenio" ng-disabled="true">
                                    </md-input-container>
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.ADMISSION_DATE">admimissao</label>
                                        <input type="date" name="adimissao" max="" ng-model="wizard.dt_adimissao" required>
                                    </md-input-container>
                                    <!--<md-datepicker name="dateField" ng-model="myDate" md-placeholder="Data de Nascimento"></md-datepicker>-->
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.DEMISSION_DATE">demissao</label>
                                        <input type="date" name="demissao" ng-model="wizard.dt_demissao" 
                                               min="{{wizard.dt_adimissao | date:'yyyy-MM-dd'}}" ng-disabled="wizardStep3.adimissao.$invalid">
                                    </md-input-container>
                                </div>
                                
                                <div ng-if="wizardStep3.demissao.$touched" layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="20">
                                        <label translate="EMPLOYEE_CTIS.REASON">motivo</label>
                                        <md-select ng-model="wizard.motivoDemissao">
                                            <md-option>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="100"  flex-gt-xs="80">
                                        <label translate="EMPLOYEE_CTIS.OBS">OBS</label>
                                        <input type="text" name="OBS" ng-model="wizard.OBS">
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-gt-xs="row">
                                    <md-input-container flex="100" flex-gt-xs="15">
                                        <label translate="EMPLOYEE_CTIS.WORK_SCHEDULE">horario de trabalho</label>
                                        <input type="text" mask="29:59" name="horarioTrabalho" ng-model="wizard.horarioTrabalho">
                                    </md-input-container>

                                    <md-input-container flex="100" flex-gt-xs="15">
                                        <label translate="EMPLOYEE_CTIS.WORKING_HOURS">jornada de trabalho</label>
                                        <input type="text" name="jornadaTrabalho" ng-model="wizard.jornadaDeTrabalho">
                                    </md-input-container>

                                    <md-input-container flex="100" flex-gt-xs="50">
                                        <md-radio-group ng-required="false" layout="row" class="lightGray-text" ng-model="wizard.RPE">
                                            RPE &nbsp;
                                            <md-radio-button value="true" class="md-primary">Sim</md-radio-button>
                                            <md-radio-button value="false" class="md-primary">Não </md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                </div>
                                
                                </br>
                                Informações Bancárias
                                <md-divider></md-divider>
                                
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.BANK">banco</label>
                                        <input type="text" name="banco" ng-model="wizard.banco">
                                    </md-input-container>
                                    
                                    <md-input-container flex="100" class="margin-right-20" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.AGENCY">agencia</label>
                                        <input type="text" name="agencia" ng-model="wizard.agencia">
                                    </md-input-container>
                                    
                                    <md-input-container flex="100" class="margin-right-0" flex-gt-xs="25">
                                        <label translate="EMPLOYEE_CTIS.BANK_ACCOUNT">conta</label>
                                        <input type="text" name="conta" ng-model="wizard.conta">
                                    </md-input-container>
                                </div>
                                
                                
                            </form>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

                <div class="navigation" flex layout="row" layout-align="center center">
                    <md-button class="md-raised md-orange-A400-bg white-text" ng-click="msWizard.previousStep()"
                               ng-hide="msWizard.isFirstStep()" translate="ACTION.PREV">
                        Previous
                    </md-button>
                    <md-button class="md-raised md-blue-grey-500-bg white-text" ng-click="cancel()"
                               ng-show="msWizard.isFirstStep()" translate="ACTION.CANCEL">
                        Voltar
                    </md-button>
                    <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-orange-A400-bg white-text':msWizard.selectedIndex === $index}"></span>
                    </div>
                    <md-button class="md-raised md-orange-A400-bg white-text" ng-click="msWizard.nextStep()"
                               ng-hide="msWizard.isLastStep()"
                               ng-disabled="msWizard.currentStepInvalid()" translate="ACTION.NEXT">
                        Next
                    </md-button>
                    <md-button class="md-raised md-orange-A400-bg white-text" ng-click="vm.sendForm(); msWizard.resetForm();" ng-show="msWizard.isLastStep()"
                               ng-disabled="msWizard.formsIncomplete()" translate="ACTION.SAVE">
                        Send
                    </md-button>
                    <md-button class="md-raised md-blue-grey-500-bg white-text" ng-click="cancel()" ng-show="msWizard.isLastStep()"
                               translate="ACTION.CANCEL">
                        Cancel
                    </md-button>
                </div>

            </ms-form-wizard>
            <!-- / FORM WIZARD -->
        </div>
    </div>
</div>